{% extends "base.html" %}

{% block content %}
	<div class="page-header">
		<h2>Nova tarefa</h2>
	</div>
	<form method="POST" action=".">
		{% csrf_token %}
		{{ form.non_field_erros }}
		{% for field in form %}
			<div class="form-group">
				<label for="{{ field.id_for_label }}" class="label-control">
					{{ field.label }}
					{% if field.field.required %}*{% endif %}
				</label>
				{{ field }}
				{% if field.errors %}
					<div class="alert alert-danger">{{ field.errors }}</div>
				{% endif %}
			</div>
		{% endfor %}
		<button class="btn btn-lg btn-primary" type="submit">Criar</button>
	</form>
	<script>
		acertaClassesTarefa();
	</script>
{% endblock %}