{% extends "base.html" %}

{% block content %}
	<h1>Tarefas</h1>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Nome</th>
				<th>Data de criação</th>
				<th>Finalizado</th>
			</tr>
		</thead>
		<tbody>
			{% for item in latest %}
				<tr>
					<td><a href="/task/{{ item.pk }}">{{ item.name }}</a></td>
					<td>{{ item.created_at|date:"d/m/Y H:i" }}</td>
					<td>{% if item.finalized %}Sim{% else %}Não{% endif %}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}