{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
	{% block title %}
		<title></title>
	{% endblock %}

	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<!-- jquery -->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<!-- Optional theme -->
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

	<!-- Latest compiled and minified JavaScript -->
	<script scr="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

	<script scr="{% static "js/scripts.js" %}"></script>

{% block extrastyle %}{% endblock %}

  <style>
    body {
      padding-top: 40px;
    }
  </style>


</head>
<body>
	<div class="container">
	
	{% include "menu.html" %}

		<div>
			{% block content %}
			{% endblock %}
		</div>
	</div><!-- container -->
</body>
</html>